:root {
    --bg-black: #000000;      /* Black */
    --bg-dark-blue-navy-color: #1e1f29;      /* Dark blue/navy */
    --bg-dark-gray: #36383f;    /* Dark gray */   
    --gray-color: #acacac;      /* Light gray */
    --gray-darker-color: #7b7e8b; /* Darker gray */
    --green-color: #4bce79;   /* Green */
    --yellow-color: #ece187;  /* Yellow */
    --blue-bright: #78daf6;  /* Bright Blue */
    --hero-font-top: #f7f7f8;  /* Hero font color */
    --hero-font-bottom: #b3b3b3; /* Hero font bottom color */
    --color-white: #ffffff;    /* White */
}

body {
    margin: 0;
    width: 1012px;
    font-family: "Lato", sans-serif;
}

.blue-text {
    color: var(--blue-bright);
}