.hero-section {
    display: flex;
    box-shadow: -50rem -18rem 16rem 17.5rem rgba(11,9,9,0.80) inset;
    /* -webkit-box-shadow: -156px -120px 182px 0px rgba(11,9,9,0.86) inset;
    -moz-box-shadow: -156px -120px 182px 0px rgba(11,9,9,0.86) inset; */
    width: 100%;
    
}

.hero-section > .hero-section-left {
    color: var(--hero-font-top);
    
    font-weight: 300;
    padding-left: 50px;
    padding-right: 10%;
}

.hero-section > .hero-section-left p:first-of-type{
    font-size: 2.25em;
    margin-top: 7%;
    margin-bottom: 7%;
}

.hero-section-left p:last-of-type {
  color: var(--hero-font-bottom);
  font-size: 2em;
  font-weight: 400;
  margin: 0px;
  line-height: 1.5;  
}

.hero-section > .hero-section-left > .hero-section-left-btn-wrapper  span {
    display: inline-block;
    margin-top: 40px;
    margin-right: 5%;
    color: var(--color-white);
    padding: 20px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2em;
}

.hero-section > .hero-section-left > .hero-section-left-btn-wrapper > .btn-green {
    background-color: var(--green-color);
    color: var(--bg-black);
    font-weight: 400;
}

.hero-section > .hero-section-left > .hero-section-left-btn-wrapper > .btn-black {
    background-color: var(--bg-black);
}



.hero-bold {
    font-weight: 600;
}

.hero-section > .hero-section-right {
    color: var(--color-white);
    width: 90%
}

.hero-section > .hero-section-right p {
    padding-top: 23px;
    padding-bottom: 5px;
    margin: 0px;
}

.hero-section > .hero-section-right img{
    width: 100%;
    height: auto;
}
