.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.nav-wrapper > .nav-left-column {
    width: 132px;
    padding: 20px;
    padding: 20px 0px 20px 20px;
}

.nav-wrapper > .nav-left-column img {
    width: 100%;
    height: auto;
}

.nav-wrapper > .nav-center-column {
    display: flex;
    flex-direction: column;
    margin-left: -45px;
    margin-top: -12px;
}
.nav-wrapper > .nav-center-column > .nav-center-top{
    color: var(--yellow-color);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
}

.nav-wrapper > .nav-center-column > .nav-center-bottom{
    display: flex;
    gap: 25px;
}

.nav-wrapper > .nav-center-column > .nav-center-bottom > .nav-center-bottom-left{
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    gap: 10px;
}

.nav-wrapper > .nav-center-column > .nav-center-bottom > .nav-center-bottom-right{
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--gray-color);
    gap: 13px;
    align-items: center;
}

.nav-wrapper > .nav-center-column > .nav-center-bottom > .nav-center-bottom-right i{
    margin-top: 2px;
}


.nav-wrapper > .nav-right-column {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.nav-wrapper > .nav-right-column i {
    color: white;
    font-size: 1.5rem
}

.nav-wrapper > .nav-right-column > .nav-right-button {
    background-color: var(--bg-dark-gray);
    padding: 15px 20px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    gap: 8px;
}

.nav-wrapper > .nav-right-column > .nav-right-button i {
    color: var(--green-color);
    font-size: 1rem;
    margin-top: 3px;
}

.nav-wrapper > .nav-right-column > .nav-right-search i {
    color: var(--gray-darker-color);
}







